* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(to bottom, #acced4 43%, #b573d1 57%);
}


header{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #f0f8ff98;
}

header .navbar{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar .menu-links li a:hover{
    color: #ffff00;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    top: 6%;
    list-style: none;
    text-decoration: none;
    position: absolute;
    line-height: 2rem;
    color: black;
    max-width: 300px;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    transition: ease-in 5s;
    display: block;
}